.search
  = form_tag :searches_term, id: :new_search, class: 'form-search', remote: true do |f|
    = text_field_tag :term, @term, class: 'input-medium search-query'
    = hidden_field_tag :user_id, current_user.id
    = submit_tag :search, :class => :btn
.loader
  = image_tag '/assets/ajax-loader.gif'
.tweet-container
  - @results.each do |tweet|
    = tweet.html.html_safe
