%h4 Dashboard

%h3= link_to "@#{current_user.username}", users_path(@current_user.username)

.search
  = form_tag :searches_term, :id => :new_search, :remote => true do |f|
    = text_field_tag :term, @term
    = submit_tag :search
.loader
  = image_tag '/assets/ajax-loader.gif'
.tweet-container
  - @results.each do |tweet|
    = tweet.html.html_safe
