<!DOCTYPE html>
<html>
<head>
  <title>WhatUpTwitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//platform.twitter.com/widgets.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Logout', logout_path, :method => :delete unless current_user.nil? %>
<%= yield %>

</body>
</html>
